*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(236, 240, 245);
}
.table{
    background-color: rgb(60, 141, 188);
    width: 60%;
    margin: auto;
    padding-bottom: 30px;
}
.table h1{
    background-color: rgb(54, 127, 169);
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    margin: auto;
    text-align: center;
}
.table label{
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    display: block;
    text-transform: capitalize;
}
.table input{
    background-color: transparent;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    outline: none;
    display: block;
}
.table input::placeholder{
    color: #fff;
    font-size: 16px;
}
.table .btn{
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(54, 127, 169);
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border: none;
}
.table h2{
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    padding: 10px;
}
.table .result{
    width: 400px;
    height: 200px;
    padding: 10px;
    border: 1px solid rgb(15, 15, 15);
    margin: auto;
    margin-left: 10px;
    overflow-y: scroll;
    background-color: transparent;
}